$color1: #E00E1F;
$color2: #750D42;

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 0px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23e00e1f'/%3E%3Cstop offset='1' stop-color='%23750d42'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='27' height='27' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='13.5' cy='13.5' r='13.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.11'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  border-style: none;
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-width: 1000px;
  padding: 0% 2.5%;
  background: white;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.box-center > img {
  margin-top: 4%;
  margin-bottom: 5%;
}
.box-center > .field {
}

.box-center > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-error {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 3em;
  width: 100%;
  box-shadow: 0px 0px 0px 2px $color1;
  padding: 5%;
  margin: 4% 0;
  background-color: #ecc;
  color: $color1;
  font-weight: bold;
  transition: all 0.3s ease;
}
.box-error.hidden {
  height: 0px;
  opacity: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

.field {
  height: 4.5em;
  overflow: hidden;
  margin-top: 4%;
  width: 100%;
  transition: all 0.3s ease;
}
.field, .field > * {
  width: 100%;
  opacity: 1;
  transition: all 0.3s ease;
}
.field > input {
  width: 100%;
}
.field > label {
  font-size: 0.8em;
  padding-left: 5px;
}
.field > input {
  padding: 10px 6px;
  font-size: 1.5em;
  box-sizing: border-box;
  outline-style: solid;
  outline-width: 1px;
  outline-color: white;
  box-shadow: 0px 2px 0px 0px gray;
}
.field > input:hover {
  outline-color: #ccc;
}
.field > input:focus {
  outline-color: #ccc;
  box-shadow: 0px 5px 0px 0px $color1;
}

.sign-up-toggle.hidden, .sign-up-toggle.hidden > * {
  height: 0;
  opacity: 0;
  width: 0%;
  margin: 0;
  padding: 0;
}

#submit {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 40%;
  min-width: 100px;
  padding: 2% 5%;
  cursor: pointer;
  transition: all 0.3s ease;
  background: $color1;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
}
#submit:hover, #submit:focus {
  background: white;
  box-shadow: 0px 0px 0px 5px $color1;
  color: $color1;
  outline: none;
}
#submit:active {
  background: #ecc;
}

.box-center > p {
  padding-bottom: 15%;
  text-align: center;
  color: #666;
}

#sign-up, #log-in {
  display: inline-block;     
  position: relative;    
  z-index: 1;     
  padding: 1em;     
  margin: -1em; 
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  color: $color1;
}

.btn {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
  background: orange;
}
.btn2 {
  position: absolute;
  top: 50px;
  left: 200px;
  width: 100px;
  height: 100px;
  background: orange;
}
